html, body {
  margin: 0;
  padding: 0;
}

.play-hidden {
  display: none;
}

.left-navigation {
  height:calc(100vh - 61px);
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

.inside-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:100%;
  width:80%;
}

.nav-link {
  text-decoration: none;
  color: #BABABA;
}

.nav-link:hover {
  color:white;
}

.hidden {
  display: none;
}

.hidden-link {
  color:white;
  text-decoration: none;
}

.main {
  padding-left: 220px;
  background: linear-gradient(to right, rgba(7,88,126,1) 0%, rgba(7,88,126,1) 21%, rgba(12,38,51,1) 69%, rgba(12,38,51,1) 100%);background: linear-gradient(to right, rgba(7,88,126,1) 0%, rgba(7,88,126,1) 21%, rgba(12,38,51,1) 69%, rgba(12,38,51,1) 100%);background: linear-gradient(to right, rgba(7,88,126,1) 0%, rgba(7,88,126,1) 0%, rgba(12,38,51,1) 69%, rgba(12,38,51,1) 100%);background: linear-gradient(to right, rgba(8,21,28,1) 0%, rgba(4,51,72,1) 0%, rgba(7,22,29,1) 69%, rgba(7,22,29,1) 100%);

}

.main__navigation_list {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  flex-flow: row wrap;
}

.element {
  color: #BABABA;
  list-style: none;
  padding-left: 22px;
  letter-spacing: 2px;
  text-decoration: none;
}

.element:first-of-type {
  padding-left: 0px;
}

.element:hover {
  color:white;
}

.myname {
  white-space: nowrap;
}

.albums {
  height:70vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height:50px;
}

.logo-text {
  font-size: 32px;
  align-self: center;
  padding-left:5px;
}

.album {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.over-picture {
  position: absolute;
  width:30px;
  display:none;
}

.album:hover .album {
  filter: brightness(65%);
}

.album:hover .over-picture {
  display: block;
  filter: brightness(100%);
}

.header {
  color:white;
  margin: 0 15px;
}

.album-wrapper {
  display: flex;
  justify-content: space-between;
}

.album__pic {
  width: 180px;
}

.album__text {
  text-decoration: none;
  color:white;
  max-width: 140px;
  margin-top: 15px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.new {
  border-top: 1px solid #BABABA;;
  padding-top: 10px;
}

.old {
  padding-bottom: 10px;
}

.App {
  letter-spacing: 1px;
  padding-left: 10px;
}

.myname {
  margin-top: 10px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.logo-block {
  display: flex;
  justify-content: flex-start;
}

.logo-home, .logo-search, .logo-library {
  width: 35px;
}

.create-playlist {
  display: flex;
  justify-content: flex-start;
}

.playlists {
  font-size: 25px;
  letter-spacing: 2px;
}

.logo-create-playlist {
  width: 35px;
  fill:white;
}

.text-create-playlist {
  font-size: 20px;
  padding-left: 10px;
  align-self: center;
}

.download {
  width: 20px;
}

.account-pic {
  width: 35px;
  border-radius: 50%;
}

.main_inner-wrapper {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.view {
  align-self: center;
  text-decoration: none;
  color:grey;
}

.view:hover {
  color:white;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  /* background-color: #F1F3F4; */
  background:-webkit-gradient(linear, 59% 0%, 28% 100%, from(#382663), to(#1A3779));
  color: #c7e8e8;
  width: 100%;
  z-index: 2;
}

.footer__album {
  display: flex;
}

.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.player-picture {
   height: 61px;
}

.footer-icon {
  height: 20px;
  padding: 10px;
}

.footer-icon:hover {
  background-color: white;
  border-radius: 50%;
}


.browser {
  padding-left: 10px;
}

.footer__icons {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.footer__right {
  display: flex;
  align-items: center;
}

.footer__right-icon {
  height: 20px;
  padding-right: 10px;
}

.player {
  display: flex;
  align-self: center;
}


@media screen and (min-width: 300px) and (orientation: portrait) {

.playlists {
  display: none;
}

.album__pic {
  width: 80px;
}

.album__text {
  max-width: 80px;
}

.download {
  padding-left: 7px;
}

.logo-home,.logo-search,.logo-library {
  padding-bottom: 30px;
}

.albums {
  height: auto;
}

.album {
  width: 80px;
}

.album__text {
  width: 80px;
  margin-bottom: 20px;
}

.left-navigation {
  width:  70px;
  height: calc(100% - 40px);
  padding: 0;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 45px;
}

.inside-navigation {
  align-items: center;
  width: unset;
}

.logo-text {
  display: none;
}

.nav-link span {
  display: none;
}

.hidden {
  display: block;
}



.view {
  display: none;
}

.header {
  justify-content: center;
}

.playlists {
  display: none;
}

.main {
  padding-left: 70px;
  height: calc(100% - 45px);
}

.album-wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.player {
  display: none;
}

.footer__icons {
  padding: 0 5px;
}

.player-picture {
  height: 40px;
  width: 70px;
  margin-left: -5px;
}

.authors, .name {
  white-space: nowrap;
  max-width: 150px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.footer__album {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.footer__right {
  flex-grow: 1;
}

.footer__text {
  padding-left: 5px;
}

}


@media screen and (max-width:560px) and (orientation:landscape) {
.main__navigation_list {
  display: block;
}

}


@media screen and (min-width:560px) and (max-width:850px) and (orientation: landscape), (max-width:560px) and (orientation:landscape) {
.album__text {
  max-width: 80px;
  font-size: 12px;
}

.logo-text {
  display: none;
}

.nav-link span {
  display: none;
}

.hidden {
  display: block;
}

.view {
  display: none;
}
.header {
  justify-content: center;
}
.playlists {
 display: none;
}

.left-navigation {
 width: 110px;
 padding-top: 0px;
 height: calc(100vh - 54px);
}

.inside-navigation {
  align-items: center;
  justify-content: space-between;
}

.logo__pic {
 width: 40px;
}

.player-picture {
 height: 70px;
}

.main {
 padding-left: 70px;
}

.albums {
  height: auto;
}

.left-navigation {
  width: 70px;
}

.logo__pic {
  width: 29px;
}

.album {
  width: auto;
}

.album-wrapper {
  flex-wrap: wrap;
}

.element {
  letter-spacing: 0px;
}

.footer {
  height: 54px;
}

.player {
  display: none;
}

.browser {
 padding-left: 10px;
}

.footer__right-icon {
  padding-right: 25px;
}

.play-hidden-img {
  width: 30px;
  fill:navy;
  stroke:navy;
  margin-bottom: -4px;
}

.play-hidden {
  display: block;
  align-self: center;
  margin-left: -25px;
  border-radius: 50%;
  background-color: #009688;
}

}

@media screen and (min-width:560px) and (max-width:667px) and (orientation:landscape) {
.album__pic {
  width: 140px;
}

}

@media screen and (min-width:730px) and (max-width:750px) and (orientation:landscape) {
.album__pic {
  width: 170px;
}

}


@media screen and (min-width:800px) and (max-width:840px) and (orientation:landscape) {
.album__pic {
  width: 190px;
}

}

@media screen and (min-width:840px) and (max-width:1024px) and (orientation:landscape) {
.album-wrapper {
  flex-wrap: wrap;
}

.album {
  width: auto;
  }

.album__pic {
  width: 100px;
}
}






/*Adjusting to Ipad and Ipad Pro ===>*/


/*Adjusting to Ipad ===>*/

@media screen and (min-width:760px) and (max-width:1200px) and (orientation:portrait), (min-width:450px) and (max-width:760px) {

/* .main__navigation_list {
  display:block;
} */

.logo-home, .logo-search, .logo-library {
  width: 35px;
}

.albums {
  height: auto;
}

.album {
  width: auto;
}

.album-wrapper {
  flex-wrap: wrap;
}

.logo__pic {
  width: 35px;
}

/* .left-navigation {
  height:calc(100% - 61px);
} */

}

/*Adjusting to Ipad Pro ===>*/

@media screen and (min-width:1000px) and (max-width:1030px) and (orientation:portrait) {
.album__pic {
  width: 120px;
}

}

/*Adjusting to Ipad ===>*/

/* @media screen and (min-width:1024px) and (max-width:1100px) and (orientation:landscape) { */

/* .albums {
  height: auto;
}

.album {
  width: auto;
}

.album-wrapper {
  flex-wrap: wrap;
}


.album__pic {
  width: 120px;
}

.left-navigation {
  height: calc(100% - 61px);
}

} */


/*Adjusting to Ipad Pro ===>*/

@media screen and (min-height:900px) and (max-height:1000px) {
  .albums{
    height: 60vmin;
  }
}

@media screen and (min-height:768px) and (min-width:1000px) {
  .albums{
    height: 40vmin;
  }
}
