html, body{
  margin: 0;
  padding: 0;
}

.play-hidden{
  display: none;
}

.left-navigation{
  height:87%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

.inside-navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:100%;
  width:80%;
}

.nav-link{
  text-decoration: none;
  color: #BABABA;
}

.nav-link:hover{
  color:white;
}

.hidden{
  display: none;
}

.hidden-link{
  color:white;
  text-decoration: none;

}

.main{
    /* width:100vw; */
  padding-left: 220px;
  background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 0%,
  rgba(102,102,102,1) 0%, rgba(89,89,89,1) 5%,
  rgba(43,43,43,1) 14%, rgba(17,17,17,1) 37%, rgba(0,0,0,1) 61%,
  rgba(28,28,28,1) 80%, rgba(19,19,19,1) 100%);

}


.main-navigation__list{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.element{
  color: #BABABA;
  list-style: none;
  padding-left: 22px;
  letter-spacing: 2px;
  text-decoration: none;
}

.element:first-of-type{
  padding-left: 0px;
}

.element:hover{
  color:white;
}

.myname{
  white-space: nowrap;
}

.albums{
  height:100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo{
  height:50px;
}

.logo-text{
  font-size: 32px;
  align-self: center;
  padding-left:5px;

}

.album{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.overPicture{
  position: absolute;
  width:30px;
  display:none;
}

.album:hover .album{
  filter: brightness(65%);
}

.album:hover .overPicture{
  display: block;
  filter: brightness(100%);
}

.header{
  color:white;
  margin:0 15px;
}

.album-wrapper{
  display: flex;
  justify-content: space-between;
}

.album-pic{
  width:140px;
  height:200px;
}


.album_text{
  text-decoration: none;
  color:white;
  max-width:140px;
  margin-top: 15px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.new{
  border-top: 1px solid #BABABA;;
  padding-top: 10px;
}

.old{
  padding-bottom: 10px;
}

.App{
  letter-spacing: 1px;
  padding-left: 10px;
}

.myname{
  margin-top: 10px;
}

.footer-nav{
  display: flex;
  flex-direction: column;
}

.logo-block{
  display: flex;
  justify-content: flex-start;
}

.logo-home, .logo-search, .logo-library{
  width: 35px;
}

.Create-playlist{
  display: flex;
  justify-content: flex-start;
}

.playlists{
  font-size:25px;
  letter-spacing: 2px;
}

.logo-create-playlist{
  width: 35px;
  fill:white;
}

.text-create-playlist{
  font-size:20px;
  padding-left:10px;
  align-self: center;
}

.download{
  width: 20px;
}

.account-pic{
  width: 35px;
  border-radius: 50%;
}

.main_inner-wrapper{
  width:90%;
  margin: 0 auto;
}


.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.view{
  align-self: center;
  text-decoration: none;
  color:grey;
}

.view:hover{
  color:white;
}

.footer{
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom:0;
  left:0;
  background-color: lightgrey;
  width:100%;
  z-index: 2;
}

.footer__album{
  display: flex;
}

.footer__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left:15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.album-picture{
   height:60px;
}

.footer-icon{
  height:20px;
}

.browser{
  padding-left: 10px;
}

.footer__icons{
  display:flex;
  align-items: center;
  padding-left: 25px;
}

.footer__right{
  display: flex;
  align-items: center;
}

.footer__right-icon{
  height:20px;
  padding-right:10px;
}


/* min for phones if comp we start from max */
/* @media screen and (orientation: landscape) and (max-width: 820px) {

} */
@media screen and (max-width: 450px) and (orientation: portrait)
{
.album-pic{
  width:80px;
  height:120px;
}

.album_text{
  max-width: 80px;
}

.download{
  padding-left: 7px;
}

.logo-home,.logo-search,.logo-library{
  padding-bottom:30px;
}


.albums{
  height:auto;
}

.album{
  width: 80px;
}

.album_text{
  width:80px;
  margin-bottom: 20px;
}

    .left-navigation {
      width:  70px;
      height: calc(100% - 40px);
      padding: 0;
      justify-content: flex-start;
      align-items: center;
    }
    .logo {
      height: 45px;
    }
    .inside-navigation {
      align-items: center;
      width: unset;
    }
    .logo-text {
      display: none;
    }
    .nav-link span {
      display: none;
    }

    .hidden{
      display: block;
    }



    .view{
      display: none;
    }
    .header{
      justify-content: center;
    }
    .playlists {
      display: none;
    }
    .main {
      padding-left: 70px;
      height: calc(100% - 45px);
    }
    .main-navigation__list {
      display: flex;
      flex-flow: row wrap;
    }
    .album-wrapper {
      flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
      }
    audio {
      display: none;
    }

    .footer__icons {
      padding: 0 5px;
    }

    .album-picture {
      height: 40px;
      width: 40px;
      margin-left:-5px;
    }
    .authors, .name {
      white-space: nowrap;
      max-width: 150px;
      font-size: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .footer__album {
      flex-grow: 2;
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
    }
    .footer__right {
      flex-grow: 1;
    }


    .footer__text {
      padding-left: 5px;
    }
  }


@media screen and (min-width: 560px) and (orientation: landscape){
  .album-pic{
    width: 80px;
    height: 120px;
  }
   .album_text{
     max-width: 80px; */
     font-size: 12px;
   }








   .logo-text {
     display: none;
   }
   .nav-link span {
     display: none;
   }

   .hidden{
     display: block;
   }



   .view{
     display: none;
   }
   .header{
     justify-content: center;
   }
   .playlists {
     display: none;
   }








   .left-navigation{
     width:110px;
     padding-top: 0px;
     height:calc(100vh - 54px);
   }

   .inside-navigation{
     align-items: center;
     justify-content: space-between;
   }

   .logo-pic{
     width:40px;
   }


   .album-picture{
     height:54px;
   }

   .main{
     padding-left: 100px;
   }

   .albums{
     height: auto;
   }
}






@media screen and (max-width: 600px) and (orientation:landscape){
 .left-navigation{
   width:70px;
 }
 .logo-pic{
   width:29px;
 }
 .album{
   width: auto;
 }

.album-wrapper{
  flex-wrap: wrap;
}

.album-pic{
  width: 110px;
  height:90px;
}


.element{
  letter-spacing: 0px;
}

.footer{
  height: 54px;
}

.footer__text{

}

audio{
  display: none;
}


.browser{
  padding-left:10px;
}

.footer__right-icon{
padding-right: 25px;

}

.play-hidden-img{
    width:30px;
    fill:navy;
    stroke:navy;
    margin-bottom: -4px;

}


.play-hidden{
  display: block;
  align-self: center;
  margin-left: -25px;
  border-radius: 50%;
  background-color: #009688;
}
}
